{% extends 'store/base.html' %}

{% block content %}
<h3 style="text-align:center">Orders:</h3>
<div class="container mb-4">
	<div class="row">
		<div class="col-12">
			<div class="table-responsive">
				<table class="table table-striped">
					<thead style="text-align: center;">
						<tr>
							<th>ID.</th>
							<th scope="col" style="width:30%;">Products </th>
							<th scope="col" style="width:15%;">Customer</th>
							<th scope="col" style="width:15%;">Address</th>
							<th scope="col" style="width:10%;">Payment</th>
							<th scope="col">Fulfilled</th>
							<th style="width:15%;">Action </th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
						<tr>
							<td>{{order.id}}</td>
							<td>{{order.items}}</td>
							<td>{{order.first_name}} {{order.last_name}}</td>
							<td>{{order.address}}, {{order.city}}</td>
							<td class=" text-right">{{order.payment_method}}</td>
							<td>{{order.fulfilled}}</td>
							<td class="text-right">
								<a class="btn btn-danger btn-sm m-1 float-right"
									href="{% url 'order-delete' order.id %}">Remove</a>
								<a class="btn btn-secondary btn-sm m-1 float-right"
									href="{% url 'order-edit' order.pk %}">Edit</a>
							</td>

						</tr>
						{% endfor %}
			</div>
			{% endblock content %}